.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cardHeader {
    flex-shrink: 0;
    padding: 8px 16px !important;
}

.cardBody {
    flex: 1 0;
    overflow: hidden;
    padding: 8px 16px !important;
    display: flex;
    flex-direction: column;
}

.flexGrow {
    flex: 1 0;
}

.noMargin {
    margin: 0 !important;
}